<%= form_for @job do |f| %>
    <%= f.hidden_field :user_id, :value => @user.id %>
	<p><%= f.label :name %></p>
	<p><%= f.text_field :name %></p>
	<p><%= f.label :pay_rate, "Pay rate ($/min)"%></p>
	<p><%= f.number_field :pay_rate, :class => 'text_field', :step => 0.01 %></p>
	<p><%= f.label :description %></p>
	<p><%= f.text_area :description %></p>
	<%= f.submit :Submit %>
<% end %>