<h2><%= @job.name %></h2>
<button><%= link_to "Edit", edit_job_path(@job) %></button>
<br />
<br />
<h4> Current Pay Rate ($/min): <%= @job.pay_rate %></h4>
<br />
<button><%= link_to "Payments", job_payments_path(@job) %></button>
<br />
<h5> Description:</h5>
<p><%= @job.description %></p>

<hr>

<h4>Logged calls for <%= @job.name %></h4>
<button><%= link_to "Log a New Call", new_job_call_entry_path(@job) %></button>


<table class="records" border="1px solid black">
	<tr>
		<th>Start Time</th>
		<th>Finish Time</th>
		<th>Call Type</th>
		<th>Language</th>
		<th>Minutes</th>
		<th>Total $ amount</th>
		<th>Call Comments</th>
	</tr>
	<% @job.call_entries.all.each do |call| %>
	<% min = call.call_length %>
	<tr>
		<td><%= call.start %></td>
		<td><%= call.finish %></td>
		<td><%= call.call_type %></td>
		<td><%= call.language %></td>
		<td><%= min %></td>
		<td>$<%= call.earned(min) %></td>
		<td><%= call.comment %></td>
	</tr>
	<% end %>

</table>