<h4 class="todays-date"> Today's date is: <%= @current_time.strftime("%B %-d, %Y.") %></h4>
<h2><%= @job.name %></h2>
<button><%= link_to "Edit", edit_job_path(@job) %></button>
<br />
<br />
<h4> Current Pay Rate ($/min): <%= @job.pay_rate %></h4>
<br />
<button><%= link_to "Payments", job_payments_path(@job) %></button>
<br />
<h5> Description:</h5>
<p><%= @job.description %></p>

<hr>

<h4>Logged calls for <%= @range %>:</h4>
<p><button><%= link_to "Log a New Call", new_job_call_entry_path(@job) %></button></p>

<p><button><%= link_to "Show calls for today", job_path %></button></p>

<form action="" method="get">
	<input type="date" name="start" required />
	<input type="date" name="finish" required />
	<button name="submit" type="submit">Show calls for custom dates</button>
</form>


<% if @calls.any? %>
	<table class="records">
		<tr>
			<th>Start Time</th>
			<th>Finish Time</th>
			<th>Call Type</th>
			<th>Language</th>
			<th>Minutes</th>
			<th>Total $ amount</th>
			<th>Call Comments</th>
			<td class="hidden-cell"></td>
			<td class="hidden-cell"></td>
		</tr>
		<% total_min = 0 %>
		<% total_earned = 0 %>

		<% @calls.each do |call| %>
		<% min = call.call_length %>
		<% total_min += min %>
		<% total_earned += call.earned(min) %>
		<tr>
			<td><%= call.start.strftime("%m-%d-%Y %I:%M %p") %></td>
			<td><%= call.finish.strftime("%m-%d-%Y %I:%M %p") %></td>
			<td><%= call.call_type %></td>
			<td><%= call.language %></td>
			<td><%= min %></td>
			<td>$<%= call.earned(min) %></td>
			<td><%= call.comment %></td>
			<td class="hidden-cell"><%= link_to "Edit", edit_job_call_entry_path(@job, call.id) %></td>
			<td class="hidden-cell"><%= link_to "Delete", job_call_entry_path(@job, call.id), :data => {:confirm => "Are you sure? All the data associated with this call record will be deleted! This action cannot be undone!", :method => :delete} %></td>
		</tr>
		<% end %>
	</table>

	<h5><strong>Total Minutes:</strong> <%= total_min %>.</h5>
	<h5><strong>Total $ Amount:</strong> <%= total_earned %>.</h5>
<% else %>
<h4>You have not logged any calls today.</h4>
<% end %>