<h3><%= @job.name %></h3>
<p><button><%= link_to "Record a Payment", new_job_payment_path %></button></p>
<p><button><%= link_to "Back to #{@job.name}'s page", job_path(@job) %></button></p>

<% if @payments.any? %>
<table class="records" border="1px solid black">
  	  <tr>
  		<th>Received on</th>
  		<th>Amount</th>
  		<th>Pay Period</th>
      <td class="hidden-cell"></td>
      <td class="hidden-cell"></td>
  	  </tr>
  <% @payments.each do |payment| %>
      <tr>
    	<td><%= payment.received.strftime("%m-%d-%Y") %></td>
    	<td>$ <%= payment.amount %></td>
    	<td><%= payment.pay_period %></td>
      <td class="hidden-cell"><%= link_to "Edit", edit_job_payment_path(@job, payment.id) %></td>
      <td class="hidden-cell"><%= link_to "Delete", job_payment_path(@job, payment.id), :data => {:confirm => "Are you sure? All the data associated with this payment record will be deleted! This action cannot be undone!", :method => :delete} %></td>
      </tr>
  <% end %>
 </table>

<% else %>
<h4>There have not been any recorded payments for <%= @job.name %></h4>
<% end %>

